css_menu_rollover.css


body {
	background: #184352;
}

.wrap {
	top:0;
	left:0;
	height:auto;
	width:100%;
}

.menu-container {
    margin-top: 0;
	top:0;
	left: 0;
	/* To the top edge of the screen */
	position: absolute;
	width: 100%;
	background-color: #184352;
}

.menu {
	font: bod 12px/10px sans-serif;
	text-align:center;
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}
li{
    padding: 20px 60px;
    color: white;
    border: 1px solid white;
}

.menu li {
	display: inline-block;
	margin-right: -2px;
	position: relative;

    border-color: whit
	border-radius: 1.5px;
	background-color: #387573;
	cursor: pointer;
}

/*  	paddng: 12px 40px;*/

.menu li:hover {
	background-color: #5EAFDF;
	color: #fff;
}

.menu li:hover ul{
	display:block;
	opacity:1;
	/* While hovered, drop down-menu appears this also avoids a block-level bug */
	visibility: visible;
}

.submenu {
	padding:0;
	left:0;
	position: absolute;
	top: 60.9px;
	width: 178.9px;
	opacity:0;
	/*while not being hovered, drop down-menu hides this also avoids a block-level bug*/
	visibility: hidden;
}

.submenu li {
	background-color: #387593;
	display: block;
	color: white;
}
body{
    background-color: #244350;
}
