

body {
    background-image: url("programming-1873854.png");
    background-blend-mode: darken;
    background-color: #292a2d;
    color: white;

}

p {
color: #ffffff;
padding-bottom: 15px;
}



label{
    color: white;
}

fieldset {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #799dd7;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    margin-right: 4px;
}